.InputWrapper {
  margin-bottom: 30px;

  input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: all 300ms ease-in-out;

    padding-bottom: 5px;
  }

  span {
    color: #f01f30;
    font-size: 12px;
  }
}

.invalid {
  input {
    color: #f01f30;
    border-bottom-color: #f01f30;
  }
}


